AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1 (or whichever region you use)
S3_BUCKET=your-cdk-generated-bucket-name # change this once your CDK has deployed
